<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DropSend – Datei-Upload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>DropSend – Upload files and images from another device</h1>

  <div class="qr-code-container-styled">
    <div class="qr-box">
      <img src="../static/qr-code/upload/qrcode.png" alt="Failed to load QR code." class="qr-image" />

      <div class="qr-info">
        <p class="qr-text">1. Scan the QR code using your device,<br>or manually enter the following link:</p>
        <a href="{{ link_upload }}" class="qr-link" target="_blank">{{ link_upload }}</a>

        <p class="qr-text">Please open this page and enter the code:</p>
        <a href="{{ link_download }}" class="qr-link" target="_blank">{{ link_download }}</a>
      </div>
  </div>

</body>
</html>
