<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DropSend – Datei-Upload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>DropSend – Drag & Drop or Browse</h1>

  <div class="upload-container">
    <div class="drop-area" id="drop-area">
      <span>Drag and drop files here or click to upload</span><br />
      <button class="browse-btn" onclick="document.getElementById('file-input').click();">Browse</button>
    </div>

    <input type="file" id="file-input" multiple style="display: none;">
    <ul class="file-list" id="file-list"></ul>

    <div class="progress-bar-container">
      <div class="progress-bar" id="progress-bar"></div>
    </div>
  </div>

  <div class="qr-code-container-styled">
    <div class="qr-box">
      <img src="../static/qr-code/download/qrcode.png" alt="Failed to load QR code." class="qr-image" />

      <div class="qr-info">
        <p class="qr-text">1. Scan the QR code with your device, or manually enter the following link:</p>

        <a href="{{ link }}" class="qr-link" target="_blank">{{ link }}</a>

        <p class="qr-text">2. Next, please enter the following code:</p>

        <div class="code-display">{{ code }}</div>
      </div>
    </div>
  </div>
  <a href="{{ link_another_device }}" class="qr-link">Transfer files and photos from another device.</a>

  <script src="{{ url_for('static', filename='upload.js') }}"></script>
</body>
</html>
